---
import Card from "../components/Card.astro";
import HeaderCard from "../components/HeaderCard.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Medical Sport">
  <HeaderCard title="Kovács Gergely" />

  <Card>
    <p>
      Több évtizedes élsportolói pályafutásom során saját bőrömön tapasztaltam
      meg a sportsérülések, műtétek utáni rehabilitáció nehézségeit, a
      futószalag szintű ellátást, a különböző orvosi ellátáshoz szükséges
      utazások, várakozások időt rabló feszültségét. Már akkor tudtam és <strong
        >elhatároztam, hogy a mozgásszervi problémák komplex megoldásával fogok
        foglalkozni. Az álmom egy olyan hely létrehozása volt, ahol</strong
      > - kiváló orvosi, masszázs-terapeuta, gyógytornász háttérrel, jól felszerelt
      eszközparkkal - <strong
        >a diagnózis felállításától kezdve végig lehet kísérni a sérülést
        szenvedett emberek gyógyulási folyamatát.</strong
      > Elvégeztem a professzionális élettani és anatómiai alapokat adó Semmelweis
      Egyetem Testnevelési és Sporttudományi Karát, majd masszázs-terapeuta szakmát
      szereztem, miközben versenyeim során külföldön járva mindig megfigyeltem az
      ottani szakemberek gyógyító tevékenységét.
    </p>
  </Card>

  <Card>
    <p>
      Cégem, a Medical Sport Kft. munkatársai nyelveket beszélő, minősített
      szakmai végzettséggel, több éves, egészségügyi intézményekben szerzett
      tapasztalattal rendelkező szakemberek, akik felügyeletem mellett végzik
      gyógyító tevékenységüket. Jelenleg három gyógytornász és egy
      masszázs-terapeuta dolgozik velem.
    </p>
  </Card>

  <Card>
    <p>
      A terápiákat megelőzően személyesen konzultálok a betegekkel. Megtekintem
      a leleteiket, az orvosi zárójelentést, szükség esetén MRI-t, vagy további
      orvosi vizsgálatokat javaslok a szakorvosoknál. Az MRI foglalást a hét
      minden napján 24 órán belül, a radiológiai szakvéleményt a vizsgálattól
      számítva 8 órán belül biztosítjuk. Teamben dolgozom, munkám során szoros
      kapcsolatot tartok a szakorvosokkal, radiológusokkal. Az orvosi,
      diagnosztikai szakvélemény után - a leghatékonyabb terápia alkalmazása
      érdekében - összeállítom a kezelési programot. Masszázs-terapeutához,
      gyógytornászhoz irányítom a beteget, vagy a cég fizikoterápiás eszközeinek
      igénybevételét javaslom. A komplexen alkalmazott terápiák elősegítik a
      beteg gyógyulását, a test fiziológiás és élettani folyamatainak javulását.
      Az összetett kezelések alkalmazásaival megelőzhetőek a sérülések
      kialakulásai, felgyorsulnak a rehabilitáció folyamatai. Minden esetben
      követem a betegek állapotát, gyógyulási és kezelési ritmusát.
    </p>
  </Card>

  <Card title="Referenciáim">
    <ul class="list-disc list-inside pl-4">
      <li>
        Balance Mozgásterápiás és Sport Innovációs Intézet (<a
          class="text-blue-500"
          target="_blank"
          href="https://balancemozgas.hu/">balancemozgas.hu</a
        >)
      </li>
      <li>
        Tv2 Mokka - Szakmai tanácsadó (<a
          class="text-blue-500"
          target="_blank"
          href="https://tv2.hu/mokka/">tv2.hu/mokka</a
        >)
      </li>
      <li>Fájdalom Ambulancia</li>
      <li>
        Magyar Evezős Szövetség (<a
          class="text-blue-500"
          target="_blank"
          href="https://hunrowing.hu/">hunrowing.hu</a
        >), rehabilitációs team
      </li>
      <li>BSE női kézilabda- és kosárlabda csapat</li>
      <li>Teniszgálák - Tennis Classics 2008, 2009, 2010, 2011</li>
      <li>
        Kajak- Kenu Válogatott (<a
          class="text-blue-500"
          target="_blank"
          href="https://kajakkenusport.hu/">kajakkenusport.hu</a
        >), rehabilitációs team
      </li>
      <li>
        Futanet - BSI - futóknak szakmai team (<a
          class="text-blue-500"
          target="_blank"
          href="https://www.futanet.hu/">futanet.hu</a
        >)
      </li>
      <li>
        Spuri Futóbolt - vásárlóknak és futóknak szakmai háttér (<a
          class="text-blue-500"
          target="_blank"
          href="https://www.spurifutobolt.hu/">spurifutobolt.hu</a
        >)
      </li>
      <li>Férfi kézilabda NB I. Gyöngyös, Mezőkövesd</li>
      <li>Medical Point Kft. rehabilitáció vezető</li>
    </ul>
  </Card>

  <HeaderCard title="Zsubori Misi" />

  <Card>
    <p>Sziasztok!</p>
    <p>
      Zsubori Misi vagyok, gyógytornász. Ahogy sokan mások, én is a sport révén
      kerültem erre a pályára, emiatt is foglalkozok szívesen különböző
      sportsérülésekkel. Magamat csapat játékosnak tartom, éppen ezért szeretek
      rendszerben dolgozni, és holisztikus szemlélettel gondolkodni. A komplex
      terápiákat részesítem előnyben. Szeretem a nagyobb kihívásokat, legyen az
      egy krónikus derékfájás, egy friss operáció vagy izom-ízületi sérülés. A
      legfontosabbnak a szakmában a megelőzést tartom, legyen az az első, vagy
      egy újabb sérülés elkerülése érdekében.
    </p>
  </Card>

  <Card
    title="Munkahelyek"
    list={[
      "Medical Point (2021.08.-)",
      "Szent Margit Kórház: Mozgásszervi Rehabilitációs Osztály (2018.03.-2021.07.)",
      "Krónikus Belgyógyászati Osztály (2017.06.01. - 2018.03.01)",
    ]}
  />

  <Card
    title="Szakmai továbbképzések"
    list={[
      "Kinematic Taping (2015)",
      "3D Scoliosis Terápia (2017)",
      "McKenzie A tanfolyam (2018)",
      "Medical Flossing (2019)",
      "CMD-Craniomandibularis Diszfunkciók terápiája-Temporomandibularis Terápia (2020)",
    ]}
  />

  <Card
    title="Referenciák"
    list={["Rybanska Natasha", "Harsányi Gergely", "Madarász Márk"]}
  />
</Layout>
