---
import Card from "../components/Card.astro";
import HeaderCard from "../components/HeaderCard.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Magamról">
  <HeaderCard title="Magamról" />

  <Card>
    <p>
      Több évtizedes élsportolói pályafutásom során saját bőrömön tapasztaltam
      meg a sportsérülések, műtétek utáni rehabilitáció nehézségeit, a
      futószalag szintű ellátást, a különböző orvosi ellátáshoz szükséges
      utazások, várakozások időt rabló feszültségét. Már akkor tudtam és <strong
        >elhatároztam, hogy a mozgásszervi problémák komplex megoldásával fogok
        foglalkozni. Az álmom egy olyan hely létrehozása volt, ahol</strong
      > - kiváló orvosi, masszázs-terapeuta, gyógytornász háttérrel, jól felszerelt
      eszközparkkal - <strong
        >a diagnózis felállításától kezdve végig lehet kísérni a sérülést
        szenvedett emberek gyógyulási folyamatát.</strong
      > Elvégeztem a professzionális élettani és anatómiai alapokat adó Semmelweis
      Egyetem Testnevelési és Sporttudományi Karát, majd masszázs-terapeuta szakmát
      szereztem, miközben versenyeim során külföldön járva mindig megfigyeltem az
      ottani szakemberek gyógyító tevékenységét.
    </p>
  </Card>

  <Card>
    <p>
      Cégem, a Medical Sport Kft. munkatársai nyelveket beszélő, minősített
      szakmai végzettséggel, több éves, egészségügyi intézményekben szerzett
      tapasztalattal rendelkező szakemberek, akik felügyeletem mellett végzik
      gyógyító tevékenységüket. Jelenleg három gyógytornász és egy
      masszázs-terapeuta dolgozik velem.
    </p>
  </Card>

  <Card>
    <p>
      A terápiákat megelőzően személyesen konzultálok a betegekkel. Megtekintem
      a leleteiket, az orvosi zárójelentést, szükség esetén MRI-t, vagy további
      orvosi vizsgálatokat javaslok a szakorvosoknál. Az MRI foglalást a hét
      minden napján 24 órán belül, a radiológiai szakvéleményt a vizsgálattól
      számítva 8 órán belül biztosítjuk. Teamben dolgozom, munkám során szoros
      kapcsolatot tartok a szakorvosokkal, radiológusokkal. Az orvosi,
      diagnosztikai szakvélemény után - a leghatékonyabb terápia alkalmazása
      érdekében - összeállítom a kezelési programot. Masszázs-terapeutához,
      gyógytornászhoz irányítom a beteget, vagy a cég fizikoterápiás eszközeinek
      igénybevételét javaslom. A komplexen alkalmazott terápiák elősegítik a
      beteg gyógyulását, a test fiziológiás és élettani folyamatainak javulását.
      Az összetett kezelések alkalmazásaival megelőzhetőek a sérülések
      kialakulásai, felgyorsulnak a rehabilitáció folyamatai. Minden esetben
      követem a betegek állapotát, gyógyulási és kezelési ritmusát.
    </p>
  </Card>
</Layout>
