---
import Card from "../components/Card.astro";
import HeaderCard from "../components/HeaderCard.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Medical Sport">
  <HeaderCard title="Kapcsolat" />

  <Card>
    <p>
      Telefon: Kovács Gergely <a href="tel:+36-30-274-2682">+36-30-274-2682</a>
    </p>
    <br />
    <p>
      E-mail: <a href="mailto:kovacs.gergely@medicalsport.hu"
        >kovacs.gergely@medicalsport.hu</a
      >
    </p>
    <br />
    <p>
      <a
        href="http://maps.google.com/?q=1023%20Budapest,%20B%C3%A9csi%20%C3%BAt%203-5."
        target="_blank"
        >Cím: 1023 Budapest, Bécsi út 3-5. szám, V. em. 55. ajtó. Kapucsengő: 61
        (bejárat a Cserfa utca felől)</a
      >
    </p>
    <!-- <br />
    <p>Facebook üzleti oldal:</p> -->
  </Card>
</Layout>
