---
import { Image } from "@astrojs/image/components";
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
import stockPhoto from "../assets/stock-photo.png";
---

<Layout title="Medical Sport">
  <div class="flex h-full items-center justify-center">
    <Card>
      <p class="font-bold italic">
        „Visszaadjuk a mozgás örömét, ami az életminőség legfontosabb záloga”
      </p>
      <Image src={stockPhoto} alt="stock photo" width={370} height={250} />
    </Card>
  </div>
</Layout>
