---
import Card from "../components/Card.astro";
import HeaderCard from "../components/HeaderCard.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Medical Sport">
  <HeaderCard title="Bemutatkozás" id="intro" />

  <Card>
    <p>Üdvözlöm Kedves Látogató!</p>
    <br />
    <p>
      Több évtizedes élsportolói pályafutásom során saját bőrömön tapasztaltam
      meg a sportsérülések, műtétek utáni rehabilitáció nehézségeit, a
      futószalag szintű ellátást, a különböző orvosi vizsgálatokhoz szükséges
      utazások, várakozások időt rabló feszültségét. Már akkor tudtam és
      elhatároztam, hogy sportolói pályafutásom befejezése után <strong
        >mozgásszervi problémák komplex megoldásával, megelőzésével,
        rehabilitációjával</strong
      >
      szeretnék foglalkozni. Az álmom egy olyan hely létrehozása volt, ahol - kiváló
      orvosi, masszázs-terapeuta, gyógytornász háttérrel, jól felszerelt eszközparkkal
      - a diagnózis felállításától kezdve a <strong
        >komplexen alkalmazott terápiák segítségével fel lehet gyorsítani a
        sérült testrészek fiziológiás és élettani folyamatainak javulását,
        elősegítve a betegek gyógyulását, életminőségének pozitív irányú
        változását.</strong
      > Az összetett kezelések alkalmazásaival megelőzhetőek a sérülések kialakulásai,
      felgyorsulnak a rehabilitáció folyamatai. <strong
        >Eszközparkunk fizikoterápiás eszközei a XXI. század legmodernebb
        készülékei. Teamben dolgozom, munkám során szoros kapcsolatot tartok
        szakorvosokkal, diagnosztákkal, radiológusokkal. Gyorsan, azonnal
        reagálunk, a sérülések prioritást élveznek. Szükség esetén</strong
      > további szakorvosi vizsgálatokra teszek javaslatot, illetve elősegítem az
      <strong>MRI foglalást a hét minden napján 24 órán belül,</strong> melynek radiológiai
      szakvéleményét a vizsgálattól számítva 8 órán belül megkapja a beteg.
    </p>
    <br />
    <p>
      Munkatársaim minősített szakmai végzettséggel, több éves egészségügyi
      intézményekben szerzett tapasztalattal rendelkező, nyelveket beszélő
      szakemberek, akikkel közösen valljuk, hogy: <strong
        ><i
          >„Az egészség nem minden, de az egészség nélkül minden semmi” (Arthur
          Schopenhauer)</i
        ></strong
      >
    </p>
    <br />
    <p>Szeretettel várjuk Önöket!</p>
    <p class="text-right">
      Kovács Gergely <br /> a Medical Sport Kft. ügyvezetője
    </p>
  </Card>

  <HeaderCard title="Munkatársak" id="colleagues" />

  <Card title="Kovács Gergely - sport- és masszázsterapeuta">
    <p>
      A terápiákat megelőzően személyesen konzultál a betegekkel. Az orvosi,
      diagnosztikai szakvélemény után - a leghatékonyabb terápia alkalmazása
      érdekében - összeállítja a beteg gyógyulását, rehabilitációját elősegítő
      összetett kezelési programot. Javaslatot tesz: masszázsterápiára,
      gyógytornára, fizikoterápiás eszközök igénybevételére. Minden esetben
      figyelemmel kíséri, dokumentálja a beteg gyógyulásának folyamatát, szükség
      esetén további szakorvosi vizsgálatokra tesz javaslatot.
    </p>
    <br />
    <p>Végzettség, továbbképzések:</p>
    <ul class="list-disc pt-2 pl-8">
      <li>2002. Semmelweis Egyetem Testnevelési és Sporttudományi Kara</li>
      <li>
        2007-2009 Gyakorlati gyógymasszőr képzés a Kapos Kft Felnőttoktatási
        Központ keretében
      </li>
      <li>
        2007-2009 sportélettan oktatás - Kapos Kft. Felnőttoktatás Központ
      </li>
      <li>2007. Kinezio tape taping alap tanfolyam</li>
      <li>2008. Kinezio tape taping haladó tanfolyam</li>
      <li>2008. Yumeiho - masszázs tanfolyam</li>
      <li>2009. Korokan tanfolyam</li>
      <li>2011. Pontmasszázs tanfolyam</li>
      <li>2012. Frissítő Talpmasszázs tanfolyam</li>
      <li>2013. Lökéshullám terápiás tanfolyam</li>
    </ul>
    <br />
    <p>Szakmai tapasztalat:</p>
    <ul class="list-disc pt-2 pl-8">
      <li>BM Kórház</li>
      <li>ORFI</li>
      <li>Fájdalomambulancia</li>
      <li>Mozgásdoktor</li>
      <li>Balance Mozgásterápiás és Sport Innovációs Központ</li>
      <li>
        Tv2 Mokka - Szakmai tanácsadó <a
          class="text-blue-600 visited:text-purple-600"
          href="https://tv2.hu/mokka"
          target="_blank">www.tv2.hu/mokka</a
        >
      </li>
      <li>Fájdalom Ambulancia</li>
      <li>Magyar Szinkronkorcsolya Válogatott</li>
      <li>
        Magyar Evezős Szövetség <a
          class="text-blue-600 visited:text-purple-600"
          href="https://hunrowing.hu/"
          target="_blank">www.hunrowing.hu</a
        >
      </li>
      <li>BSE női kézilabda- és kosárlabda csapat</li>
      <li>Teniszgálák - Tennis Classics 2008, 2009, 2010, 2011</li>
      <li>Kajak- Kenu Válogatott</li>
      <li>Capital Medical Point Kft. rehabilitációs koordinátor</li>
    </ul>
  </Card>

  <Card title="Zubor Mihály - gyógytornász">
    <p>
      Az orvosi diagnózist követően felméri a beteg állapotát, és az egyénre
      szabott, a páciens igényeihez igazodó ízületi- és gerincvédelmi szempontok
      alapján összeállított komplex terápia keretein belül elvégezteti a
      beteggel az stabilizáló és funkcionális gyakorlatokat.
    </p>
    <br />
    <p>Végzettség, továbbképzések:</p>
    <ul class="list-disc pt-2 pl-8">
      <li>Kinematic Taping (2015)</li>
      <li>3D Scoliosis Terápia (2017)</li>
      <li>McKenzie A tanfolyam (2018)</li>
      <li>Medical Flossing (2019)</li>
      <li>
        CMD-Craniomandibularis Diszfunkciók terápiája-Temporomandibularis
        Terápia (2020)
      </li>
    </ul>
    <br />
    <p>Szakmai tapasztalat:</p>
    <ul class="list-disc pt-2 pl-8">
      <li>Medical Point</li>
      <li>
        Szent Margit Kórház: Mozgásszervi Rehabilitációs Osztály
        (2018.03.-2021.07.)
      </li>
      <li>Krónikus Belgyógyászati Osztály</li>
    </ul>
  </Card>

  <HeaderCard title="Adatvédelmi tájékoztató" id="privacy-policy" />

  <Card>
    <ul class="list-disc pt-2 pl-8 underline">
      <li>
        <a
          href="https://firebasestorage.googleapis.com/v0/b/medical-sport.appspot.com/o/Adatve%CC%81delmi%20szaba%CC%81lyzat.docx?alt=media&token=e2f608a1-e493-4192-a43a-416ca1709581"
          >Adatvédelmi szabályzat.docx</a
        >
      </li>
      <li>
        <a
          href="https://firebasestorage.googleapis.com/v0/b/medical-sport.appspot.com/o/Adatfeldolgoza%CC%81si%20mega%CC%81llapoda%CC%81s.docx?alt=media&token=47018564-98c1-4f3b-9a8c-6b3ea3ceb2f0"
          >Adatfeldolgozási megállapodás.docx</a
        >
      </li>
      <li>
        <a
          href="https://firebasestorage.googleapis.com/v0/b/medical-sport.appspot.com/o/Adatfeldolgoza%CC%81si%20mega%CC%81llapoda%CC%81s%20melle%CC%81klet.docx?alt=media&token=1af4365d-d165-4c45-98a8-2b3d1c1a841f"
          >Adatfeldolgozási megállapodás melléklet.docx</a
        >
      </li>
    </ul>
  </Card>
</Layout>
