---
import Card from "../components/Card.astro";
import HeaderCard from "../components/HeaderCard.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Medical Sport">
  <HeaderCard title="Nyitvatartás" />

  <Card>
    <p>Hétfőtől - Péntek.: 8-19 óráig</p>
    <br />
    <p>Szombaton: 8-14 óráig</p>
    <br />
    <p>Vasárnap szükség esetén.</p>
  </Card>
</Layout>
