---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Referenciáim">
  <h2 class="text-3xl font-bold pb-6">Referenciáim</h2>
  <ul class="flex flex-col gap-2 pl-4 list-disc">
    <li>
      Balance Mozgásterápiás és Sport Innovációs Intézet (<a
        class="text-blue-500"
        target="_blank"
        href="https://balancemozgas.hu/">balancemozgas.hu</a
      >)
    </li>
    <li>
      Tv2 Mokka - Szakmai tanácsadó (<a
        class="text-blue-500"
        target="_blank"
        href="https://tv2.hu/mokka/">tv2.hu/mokka</a
      >)
    </li>
    <li>
      Fájdalom Ambulancia (<a
        class="text-blue-500"
        target="_blank"
        href="https://fajdalomambulacia.hu/">fajdalomambulacia.hu</a
      >) - Törött Link!
    </li>
    <li>
      Magyar Evezős Szövetség (<a
        class="text-blue-500"
        target="_blank"
        href="https://hunrowing.hu/">hunrowing.hu</a
      >), rehabilitációs team
    </li>
    <li>
      BSE női kézilabda- és kosárlabda csapat (<a
        class="text-blue-500"
        target="_blank"
        href="http://bsekosar.hu/">bsekosar.hu</a
      >), rehabilitációs team - Törött Link!
    </li>
    <li>
      Teniszgálák - Tennis Classics 2008, 2009, 2010, 2011 (<a
        class="text-blue-500"
        target="_blank"
        href="http://tennisclassics.hu/">tennisclassics.hu</a
      >) - Törött Link!
    </li>
    <li>
      Kajak- Kenu Válogatott (<a
        class="text-blue-500"
        target="_blank"
        href="https://kajakkenusport.hu/">kajakkenusport.hu</a
      >), rehabilitációs team
    </li>
    <li>
      Futanet - BSI - futóknak szakmai team (<a
        class="text-blue-500"
        target="_blank"
        href="https://www.futanet.hu/">futanet.hu</a
      >)
    </li>
    <li>
      Spuri Futóbolt - vásárlóknak és futóknak szakmai háttér (<a
        class="text-blue-500"
        target="_blank"
        href="https://www.spurifutobolt.hu/">spurifutobolt.hu</a
      >)
    </li>
    <li>Férfi kézilabda NB I. Gyöngyös, Mezőkövesd</li>
    <li>Medical Point Kft. rehabilitáció vezető</li>
  </ul>
</Layout>
