---
import Card from "../components/Card.astro";
import HeaderCard from "../components/HeaderCard.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Medical Sport">
  <HeaderCard title="Referenciák" />

  <Card>
    <ul class="flex list-disc flex-col gap-2 pl-4 text-left">
      <li>
        Balance Mozgásterápiás és Sport Innovációs Intézet (<a
          class="text-blue-500"
          target="_blank"
          href="https://balancemozgas.hu/">balancemozgas.hu</a
        >)
      </li>
      <li>
        Tv2 Mokka - Szakmai tanácsadó (<a
          class="text-blue-500"
          target="_blank"
          href="https://tv2.hu/mokka/">tv2.hu/mokka</a
        >)
      </li>
      <li>Fájdalom Ambulancia</li>
      <li>Magyar Szinkronkorcsolya Válogatott</li>
      <li>
        Magyar Evezős Szövetség (<a
          class="text-blue-500"
          target="_blank"
          href="https://hunrowing.hu/">hunrowing.hu</a
        >), rehabilitációs team
      </li>
      <li>BSE női kézilabda- és kosárlabda csapat rehabilitációs team</li>
      <li>Teniszgálák - Tennis Classics 2008, 2009, 2010, 2011</li>
      <li>
        Kajak- Kenu Válogatott (<a
          class="text-blue-500"
          target="_blank"
          href="https://kajakkenusport.hu/">kajakkenusport.hu</a
        >), rehabilitációs team
      </li>
      <li>
        Futanet - BSI - futóknak szakmai team (<a
          class="text-blue-500"
          target="_blank"
          href="https://www.futanet.hu/">futanet.hu</a
        >)
      </li>
      <li>
        Spuri Futóbolt - vásárlóknak és futóknak szakmai háttér (<a
          class="text-blue-500"
          target="_blank"
          href="https://www.spurifutobolt.hu/">spurifutobolt.hu</a
        >)
      </li>
      <li>Férfi kézilabda NB I. Gyöngyös, Mezőkövesd</li>
      <li>Magyar női vizilabda válogatott: Rybanska Natasa, Parkes Rebecca</li>
      <li>Magyar férfi kézilabda válogatott: Harsányi Gergő</li>
      <li>Stollár Fanny teniszezőnő</li>
      <li>Medical Point Kft. rehabilitáció vezető</li>
    </ul>
  </Card>
</Layout>
