---
import Card from "../components/Card.astro";
import HeaderCard from "../components/HeaderCard.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Medical Sport">
  <HeaderCard title="Rehabilitáció" />
  <HeaderCard title="Gyógytorna, fizioterápia" id="physiotherapy" />

  <Card>
    <p>
      <strong
        >A gyógytorna alapvető célja az életminőség (mozgásképesség javítása,
        rehabilitáció, fájdalom csökkentése) javítása,</strong
      > egyes betegségek (pl. csontritkulás, kopásos és egyéb degeneratív mozgásszervi
      betegségek) tüneteinek mérséklése, további állapotromlás megelőzése. Az egyénre
      szabott terápia minden esetben a páciens igényeihez igazodó, ízület- és gerincvédelmi
      szempontok alapján összeállított torna, mind stabilizáló, mind funkcionális
      gyakorlatokkal.
    </p>
    <br />
    <p>Miért célszerű az alkalmazása?</p>
    <br />
    <p>
      A gyógytorna egy komplex terápia a prevenciótól a gyógykezelésen át a
      rehabilitációig. <strong
        >A mozgásképesség megőrzése, a mozgásfunkció javítása gyógytorna
        segítségével célzottan valósítható meg. A gyógytornát az izmok
        erősítésére-nyújtására, az ízületi mozgásterjedelem fokozására, a
        mozgáskoordináció javítására, az izomerő javítására alkalmazzuk, célunk
        a zavart szenvedett szerv, szervrendszer, testrész, testtáj funkciójának
        a helyreállítása.</strong
      >
    </p>
    <p>
      A statikus, dinamikus gyakorlatokat a vendég diagnózisának, aktuális
      állapotának ismeretében, személyre szabottan, egyéni torna formájában a
      fokozatosság elvének megfelelően végezzük. A professzionális gyógytorna
      lényege a diagnózisnak megfelelő speciális technikák alkalmazása, az egész
      testre koncentrálva.
    </p>
    <br />
    <p>Milyen vizsgálat szükséges a gyógytornához?</p>
    <br />
    <p>
      Amennyiben még nem járt orvosnál és fennálló panaszai vannak elősegítjük a
      konzultációt traumatológus, ortopéd, neurológus, idegsebész, reumatológus
      szakorvossal.
    </p>
    <br />
    <p>
      A gyógytornát kiegészítő fizioterápiás eszközök is rendelkezésünkre
      állnak, mint a:
    </p>
    <ul class="list-disc pt-2 pl-8">
      <li class="font-bold">
        <a href="/devices#shock-wave-therapy">Lökéshullám terápia és</a>
      </li>
      <li class="font-bold">
        <a href="/devices#sis">SIS mágnesterápia.</a>
      </li>
      <li class="font-bold">
        <a href="/devices#btl-6000">BTL-6000</a>
      </li>
      <li>
        A tornával és kezelésekkel együtt komplex rehabilitációban tudjuk
        részesíteni pácienseinket.
      </li>
    </ul>
  </Card>

  <HeaderCard title="Masszázsterápia" id="massage-therapy" />

  <Card>
    <p>
      <strong
        >A masszázsterápia a mozgásszervrendszer visszafordítható
        funkciózavarainak felismerését és gyógyítását szolgálja.</strong
      > A diagnosztika magában foglalja az izmok, a szalagok és a bőr reflexes reakcióinak,
      csakúgy mint az ízületi mechanika, az izomfunkció és koordináció vizsgálatát.
      Segítségével lokalizáljuk és analizáljuk a végtagi ízületek vagy a csigolyák
      területén kialakult mozgás funkciózavarokat. Ennek az analízisnek az alapján
      a különböző fogásokkal a fájdalomcsillapítást és a mobilizációt célozva, hatékonyan
      gyógyítunk.
    </p>
    <br />
    <p>Miért célszerű az alkalmazása?</p>
    <p>
      <strong
        >A kézzel (manuálisan) végzett technikákkal az ízületek
        mozgáskorlátozottságának oldását végezzük, az ízületeknél trakciót
        (húzás), transzlációs csúsztatást és lágyrésztechnikákat alkalmazunk.</strong
      > A trakció során az ízületet alkotó csontokat távolítjuk el egymástól, ami
      az ízületen belüli nyomáscsökkenéshez, lazuláshoz és fájdalomcsillapításhoz
      vezet.
    </p>
    <br />
    <p>
      Célja a fiziológiás ízületi játék helyreállítása, amihez a
      lágyrésztechnikák különböző lazító és nyújtó fogásai is segítenek. Az
      izomzat szükség szerinti lazításával helyreállítjuk a gerinc és a végtagi
      ízületek mozgásdinamikáját, funkcióját, eredeti statikáját, stabilitását,
      ezáltal csökkentve, illetve megszűntetve a fájdalmat (pl.: rándulások,
      nyak-, hát- és derékfájdalom).
    </p>
    <br />
    <p class="font-bold">
      A fájdalom megszűnésével a mozgás javul és ezzel egy időben a pszichés és
      fizikális közérzet is jobb lesz.
    </p>
    <br />
    <p>A masszázsterápiát kiegészítő fizioterápiás eszközös:</p>
    <ul class="list-disc pt-2 pl-8">
      <li class="font-bold underline">
        <a href="/devices#shock-wave-therapy">Lökéshullám terápia</a>
      </li>
      <li class="font-bold underline">
        <a href="/devices#sis">SIS mágnesterápia</a>
      </li>
      <li class="font-bold">
        <a href="/devices#btl-6000">BTL-6000</a>
      </li>
    </ul>
  </Card>

  <HeaderCard title="Kinesió-tape kezelés" id="kinesio-tape-treatment" />

  <Card>
    <p>
      A Kinesio Tape technika egy önállóan és a mozgás szervrendszer
      problémájának kezelésére, illetve kiegészítésként is alkalmazható terápia,
      mely <strong
        >az adott terület vagy érintett izom támogatását, működésének
        helyreállítását segíti, eredményezi.</strong
      >
    </p>
    <br />
    <p>Mivel végzik a kezelést?</p>
    <br />
    <p>
      A kezeléshez egy speciális tapasszal dolgozunk, melynek egyik felülete
      ragasztóanyaggal ellátott felület, a másik oldal pedig egy speciális
      szálelrendezésű szövet. A szalag nyújtható, elasztikus, ami nagyon fontos,
      mert ezáltal képes dinamikusan, aktívan támasztani az adott részt,
      ellenben a merev rögzítő eszközökkel.
    </p>
    <br />
    <p>Miért hatékony ez a technika?</p>
    <br />
    <p>
      A technika alapját az adja, <strong
        >hogy a bőrön keresztül a receptorok folyamatos, több napon át tartó
        állandó ingerlésével a szervezet aktivizáló és öngyógyító folyamatát
        erősítik.</strong
      > Hatására az agy specifikus ingert kap a terület pedig gyorsabban regenerálódik
      a fokozottabb és gyorsabb válaszreakciók folytán. A szalag felhelyezése többféleképpen
      lehetséges, ezért is találkozhatunk olyan változatos mintákkal. Megfelelően
      képzett szakember a páciens adott problémáját és a személyre szabott esetet
      együttesen figyelembe véve hatékony segítséget nyújthat ezzel a különleges
      technikával!
    </p>
  </Card>
</Layout>
