---
import { Image } from "@astrojs/image/components";
import medicalWhiteImage from "../assets/medicalsport_feher.png";
---

<footer
  class="flex flex-col justify-center gap-6 bg-secondary p-6 text-center font-semibold text-slate-50 sm:flex-row sm:gap-16"
>
  <div class="flex">
    <a href="/" class="m-auto w-[240px] cursor-pointer text-4xl">
      <Image
        src={medicalWhiteImage}
        alt="medical sport logo"
        height={106}
        width={240}
      />
    </a>
  </div>

  <div class="flex flex-col justify-center gap-2">
    <div>Medical Sport</div>
    <a href="mailto:kovacs.gergely@medicalsport.hu"
      >kovacs.gergely@medicalsport.hu</a
    >
    <a href="tel:+36-30-274-2682">+36-30-274-2682</a>
    <a
      href="http://maps.google.com/?q=1023%20Budapest,%20B%C3%A9csi%20%C3%BAt%203-5."
      target="_blank">1023 Budapest, Bécsi út 3-5.</a
    >
  </div>
</footer>
