---
export interface Props {
  title?: string;
  body?: string;
}

const { title, body } = Astro.props;
---

<section class="bg-secondary text-slate-50 p-4">
  {title && <h2 class="text-3xl text-center font-bold">{title}</h2>}

  {
    body && (
      <p class="text-center font-semibold">
        Fizikoterápiás eszközeink a XXI. század legmodernebb készülékei.
      </p>
    )
  }
</section>
