---
export interface Props {
  title?: string;
  body?: string;
  id?: string;
}

const { title, body, id } = Astro.props;
---

<section class="relative bg-secondary p-4 text-slate-50">
  <div id={id} class="invisible absolute top-[-60px] h-0"></div>

  {title && <h2 class="text-center text-3xl font-bold">{title}</h2>}

  {body && <p class="text-center font-semibold">{body}</p>}

  <slot />
</section>
